*{
    margin: 0cm;
    padding: 0%;
}
html,body{
    width: 100%;
    height: 100%;

}
h1{
    color: cornflowerblue; 
    text-align: center; 
    font-family: 'Lucida Sans';
    width: 50%;
    background-color: brown;
   
}
body{
    background-color: aqua;
}
div{
    background-color: black;
}
